@page "/create-course"
@using codesome.Shared
@using codesome.Shared.Models
@inject HttpClient Http
@inject NavigationManager _navigator

<h3>Create Module</h3>

<div class="container">
    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" @bind="module.Title" required />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3" @bind="module.Description" required></textarea>
        </div>

        <input type="button" class="btn btn-primary" @onclick="CreateModule" value="Create Lesson" />
    </form>
</div>
