@page "/enrollments/{Id}"
@using codesome.Shared
@using codesome.Shared.Models
@inject HttpClient Http
@inject NavigationManager _navigator
@inject ILocalStorageService _localStorage


<h3>EnrollmentPage</h3>

@code {

}
