@page "/enrollments"
@using codesome.Shared
@using codesome.Shared.Models
@inject HttpClient Http
@inject NavigationManager _navigator
@inject ILocalStorageService _localStorage


<h3>Enrollments</h3>

@code {

}
